.banner-support .support-content:hover {
    background-color: #ffc107 !important;
    color: #343a40 !important;
    transition: all 0.4s;
}

.content-inside .btn-read:hover {
    background-color: #ffffff !important;
    color: #28a745 !important;
    transition: all 0.4s;
}

.card .image-scale {
    overflow: hidden;
}

.card .image-scale img {
    transition: all 1s ease;
}

.card .image-scale:hover img {
    transform: scale(1.1);
}

.card .content-top-success {
    position: relative;
    top: -30px !important;
    border-bottom: 3px solid #28a745;
}

.card .content-top-warning {
    position: relative;
    top: -30px !important;
    border-bottom: 3px solid #ffc107;
}