.banner-support .support-content:hover {
    background-color: #ffc107 !important;
    color: #343a40 !important;
    transition: all 0.4s;
}

.content-inside .btn-read:hover {
    background-color: #ffffff !important;
    color: #28a745 !important;
    transition: all 0.4s;
}

.card .image-scale {
    overflow: hidden;
}

.card .image-scale img {
    transition: all 0.2s ease;
}

.card .image-scale:hover img {
    transform: scale(1.1);
}

.card .content-top-success {
    position: relative;
    top: -30px !important;
    border-bottom: 3px solid #28a745;
}

.card .content-top-warning {
    position: relative;
    top: -30px !important;
    border-bottom: 3px solid #ffc107;
}

footer .icon-scale {
    font-size: 30px;
}

.contact-us .form-control:focus {
    border: 1px solid #28a745 !important;
    box-shadow: 0 0 0 0.2rem#28a74656 !important;
}

.search .form-control:focus {
    border: 1px solid #28a745 !important;
    box-shadow: 0 0 0 0.2rem#28a74656 !important;
}

.search .btn:focus {
    border: 1px solid #28a745 !important;
    box-shadow: 0 0 0 0.2rem#28a74656 !important;
}

.contact-us .form-contact {
    position: relative;
    animation-name: test;
    animation-duration: 2s;
    background-image: linear-gradient(45deg, #3bff3b98, #fffb00a1);
}

@keyframes test {
    0% {
        left: -500px;
        opacity: 0%;
    }
    100% {
        left: 0px;
        opacity: 100%;
    }
}